{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/styles/tables.css') }}>
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="underline">
            <h2>{{ controller_name }}</h2>
        </div>

        {{ form_start(new_invoice) }}
            <div class="form-group">
                {{ form_label(new_invoice.Client,'Client', { 'label_attr': {'class': 'label_to_right'}}) }}
                {{ form_widget(new_invoice.Client) }}
            </div>

            <div class="form-group">
                {{ form_label(new_invoice.date,'Date', { 'label_attr': {'class': 'label_to_right' }}) }}
                {{ form_widget(new_invoice.date) }}
            </div>


        <table>
            <thead>
                <tr>
                    <td>{{form_label(new_invoice.designation)}}</td>
                    <td>{{ form_label(new_invoice.designation.hour, 'Heures') }}</td>
                    <td>€/h</td>
                    <td>{{ form_label(new_invoice.designation.price, 'Montant HT') }}</td>
                </tr>
            </thead>
            <tbody id='table-body'>
{#                 <tr>#}
{#                    <td>{{ form_widget(new_invoice.designation.designation) }}</td>#}
{#                    <td>{{ form_widget(new_invoice.designation.hour) }}</td>#}
{#                    <td><input type="number"></td>#}
{#                    <td>{{ form_widget(new_invoice.designation.price) }}</td>#}
{#                </tr>#}
            </tbody>
        </table>

        <div class="flex_inline">
            <span class="fake_btn" id="js_add_line">+</span>
        </div>

        <button type="submit" class="fake_btn">Nouvelle facture</button>
        {{ form_end(new_invoice) }}



    </div>
{% endblock %}

{% block script %}
    <script src="{{ asset('assets/scripts/client_styling.js') }}"></script>
{% endblock %}
