{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('tables') }}
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="underline">
            <h2>{{ controller_name }}</h2>
        </div>

        {{ form_start(new_invoice) }}
            <div class="form-group">
                {{ form_label(new_invoice.Client,'Client', { 'label_attr': {'class': 'label_to_right'}}) }}
                {{ form_widget(new_invoice.Client) }}
            </div>

            <div class="form-group">
                {{ form_label(new_invoice.date,'Date', { 'label_attr': {'class': 'label_to_right' }}) }}
                {{ form_widget(new_invoice.date) }}
            </div>


        <table>
            <thead>
                <tr>
                    <td>Désignation</td>
                    <td>Heures</td>
                    <td>€/h</td>
                    <td>Montant Hors Taxe</td>
                </tr>
            </thead>

            <tbody id='table-body'>
                 <tr>
{#                     <td><input type="text" data-prototype="{{ form_widget(new_invoice.designation.vars.prototype.designation)|e('html_attr') }}"></td>#}
{#                     <td><input type="text"></td>#}
{#                     <td><input type="text"></td>#}
{#                     <td><input type="text" data-prototype="{{ form_widget(new_invoice.designation.vars.prototype.price)|e('html_attr') }}"></td>#}
                </tr>
            </tbody>
        </table>
        <ul class="rows" data-prototype="{{ form_widget(new_invoice.designation.vars.prototype)|e('html_attr') }}"></ul>
{#        {{ form_widget(new_invoice.designation.vars.prototype.price) }}#}

        <div class="flex_inline">
            <span class="fake_btn" id="add-row" data-collection-holder-class="rows">+</span>
        </div>

        <button type="submit" class="fake_btn">Nouvelle facture</button>
        {{ form_end(new_invoice) }}

    </div>
{% endblock %}

{% block script %}
{{ encore_entry_script_tags('invoice') }}
{% endblock %}
