{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/styles/tables.css') }}>
{% endblock %}

{% block body %}


<div class="example-wrapper">
    <div class="underline">
        <h2>{{ controller_name }}</h2>
    </div>

    <div>
        <a href="{{ path('newTask') }}" class="to-new-item">Créer une nouvelle tâche</a>
    </div>

    <table>
        <thead>
        <tr>
            <td class="name center">Désignation</td>
            <td class="fee center ">Taux horaire</td>
            <td class="modify center"></td>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td class="name">{{ task.name }}</td>
                <td class="fee center">{{ task.fee }}</td>
                <td class="modify center"><a href="{{ path('updateTask', {id : task.id}) }}">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
