{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="underline">
            <h2>{{ controller_name }}</h2>
        </div>

        <div>
            <span id="modify" class="fake_btn">Modifier</span>
        </div>

        <h3 class="client_name">{{ client.name | upper }} {{ client.FamilyName | upper }}</h3>

        <div class="client_informations">

            {{ form_start(update_form) }}

            <div class="hidden">
                {{ form_label(update_form.familyName, 'Nom', {
                    'label_attr': {'class': 'client_information_name'}
                }) }}
                {{ form_widget(update_form.familyName, {'attr':{
                    'class': 'client_information_content',
                    'disabled': 'true',
                    'value': client.FamilyName
                }}) }}
            </div>
            <div class="hidden">
                {{ form_label(update_form.name, 'Prénom', {
                    'label_attr': {'class': 'client_information_name'}
                }) }}
                {{ form_widget(update_form.name, {'attr':{
                    'class': 'client_information_content',
                    'disabled': 'true',
                    'value': client.name
                }}) }}
            </div>
            <div>
                {{ form_label(update_form.SocialName, 'Raison sociale', {
                    'label_attr': {'class': 'client_information_name'}
                }) }}
                {{ form_widget(update_form.SocialName , {'attr':{
                    'class': 'client_information_content',
                    'disabled': 'true',
                    'value': client.SocialName
                }}) }}
            </div>
            <div>
                {{ form_label(update_form.VATnumber, 'Numéro de TVA', {
                    'label_attr': {'class': 'client_information_name'}
                }) }}
                {{ form_widget(update_form.VATnumber, {'attr':{
                    'class': 'client_information_content',
                    'disabled': 'true',
                    'value': client.VATnumber
                }}) }}
            </div>
            <div>
                {{ form_label(update_form.email, 'Email', {
                    'label_attr': {'class': 'client_information_name'}
                }) }}
                {{ form_widget(update_form.email, {'attr':{
                    'class': 'client_information_content',
                    'disabled': 'true',
                    'value': client.email
                }}) }}
            </div>
            <div>
                {{ form_label(update_form.phone, 'Téléphone / GSM', {
                    'label_attr': {'class': 'client_information_name'}
                }) }}
                {{ form_widget(update_form.phone, {'attr':{
                    'type': 'text',
                    'class': 'client_information_content',
                    'disabled': 'true',
                    'value': client.phone
                }}) }}
            </div>
            <div>
                {{ form_label(update_form.street, 'Adresse', {
                    'label_attr': {'class': 'client_information_name'}
                }) }}
                {{ form_widget(update_form.street, {'attr':{
                    'class': 'client_information_content',
                    'disabled': 'true',
                    'value': client.street
                }}) }}
            </div>

            <div>
                {{ form_label(update_form.Zipcode, 'Code Postal', {
                    'label_attr': {'class': 'client_information_name'}
                }) }}
                {{ form_widget(update_form.Zipcode, {'attr':{
                    'class': 'client_information_content',
                    'disabled': 'true',
                    'value': client.Zipcode
                }}) }}
            </div>

            <div>
                {{ form_label(update_form.city, 'Ville', {
                    'label_attr': {'class': 'client_information_name'}
                }) }}
                {{ form_widget(update_form.city, {'attr':{
                    'class': 'client_information_content',
                    'disabled': 'true',
                    'value': client.city
                }}) }}
            </div>
            <div>
                {{ form_label(update_form.country, 'Nom', {
                    'label_attr': {'class': 'client_information_name'}
                }) }}
                {{ form_widget(update_form.country, {'attr':{
                    'class': 'client_information_content',
                    'disabled': 'true',
                    'value': client.country
                }}) }}
            </div>

            {{ form_end(update_form) }}


            <div ><h4>Dernières factures</h4></div>

        </div>

    </div>
{% endblock %}

{% block script %}
<script src="{{ asset('assets/scripts/client_styling.js') }}">

</script>

{% endblock %}

