{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/styles/tables.css') }}>
{% endblock %}


{% block body %}

    <div class="example-wrapper">
        <div class="underline">
            <h2>{{ controller_name }}</h2>
        </div>

        <table>
            <thead>
            <tr>
                <th class="client_main">Client</th>
                <th class="client_column">Numéro de TVA</th>
                <th class="client_column">Commune</th>
            </tr>
            </thead>

            <tbody>
            {% for client in clients %}

                <tr>

                    <td class="client_main">
                        <a href="{{ path('client', {'id': client.id, }) }}">
                            {{ client.name |capitalize }}
                        </a>
                    </td>

                    <td class="client_column">{{ client.VATnumber |capitalize }}</td>
                    <td class="client_column">{{ client.city |capitalize }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

        <a href="{{ path('newClient') }}"> <p class="to_new">Créer un nouveau client</p></a>

    </div>
{% endblock %}
