{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('assets/styles/tables.css') }}>
{% endblock %}


{% block body %}

    <div class="example-wrapper">
        <div class="underline">
            <h2>{{ controller_name }}</h2>
        </div>

        <div>
            <a href="{{ path('newClient') }}" class="to-new-item">Nouveau client</a>
        </div>

        <table>
            <thead>
            <tr>
                <th class="client_main">Client</th>
                <th class="client_column">Numéro de TVA</th>
                <th class="client_column">Commune</th>
                <th class="client_column"></th>
            </tr>
            </thead>

            <tbody>
            {% for client in clients %}
                <tr>
                    <td class="client_main" >
                            {{ client.name | upper }}
                    </td>
                    <td class="client_column">{{ client.VATnumber }}</td>
                    <td class="client_column">{{ client.city |capitalize }}</td>
                    <td class="client_column">
                        <a href="{{ path('client', {'id': client.id, }) }}">
                            Modifier
                        </a>
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
