{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="underline">
            <h2>{{ controller_name }}</h2>
        </div>

        {{ form_start(new_client_form, {attr: {
            'class' : 'example-wrapper',
        }}) }}

        <div class="underline">
            <h3>Identité</h3>
        </div>

        <div class="flex_inline">

            <div>
                <div class="form-group">
                    {{ form_label(new_client_form.familyName, 'Nom', { 'label_attr': {'class': 'label_to_right'}}) }}
                    {{ form_widget(new_client_form.familyName) }}
                </div>

                <div class="form-group">
                    {{ form_label(new_client_form.name, 'Prénom', { 'label_attr': {'class': 'label_to_right'}}) }}
                    {{ form_widget(new_client_form.name) }}
                </div>
            </div>

            <div>
                <div class="form-group">
                    {{ form_label(new_client_form.SocialName, 'Raison Sociale', { 'label_attr': {'class': 'label_to_right'}}) }}
                    {{ form_widget(new_client_form.SocialName) }}
                </div>

                <div class="form-group">
                    {{ form_label(new_client_form.VATnumber, 'Numéro de TVA', { 'label_attr': {'class': 'label_to_right'}}) }}
                    {{ form_widget(new_client_form.VATnumber) }}
                </div>
            </div>
        </div>


        <div class="underline">
            <h3>Contact</h3>
        </div>

        <div class="flex_inline">
            <div class="form-group">
                {{ form_label(new_client_form.phone, 'GSM - Téléphone', { 'label_attr': {'class': 'label_to_right'}}) }}
                {{ form_widget(new_client_form.phone) }}
            </div>

            <div class="form-group">

                {{ form_label(new_client_form.email, 'E-mail', { 'label_attr': {'class': 'label_to_right'}}) }}
                {{ form_widget(new_client_form.email) }}
            </div>
        </div>

        <div class="underline">
            <h3>Adresse</h3>
        </div>

        <div class="form-group">
            {{ form_label(new_client_form.street, 'Adresse', { 'label_attr': {'class': 'label_to_right'}}) }}
            {{ form_widget(new_client_form.street, { 'attr': {'class': 'big_input'}}) }}
        </div>

        <div class="flex_inline">
            <div class="form-group">
                {{ form_label(new_client_form.Zipcode, 'Code postal', { 'label_attr': {'class': 'label_to_right'}}) }}
                {{ form_widget(new_client_form.Zipcode) }}
            </div>

            <div class="form-group">
                {{ form_label(new_client_form.city, 'Ville', { 'label_attr': {'class': 'label_to_right'}}) }}
                {{ form_widget(new_client_form.city) }}
            </div>
        </div>


        <div class="form-group">
            {{ form_label(new_client_form.country, 'Pays', { 'label_attr': {'class': 'label_to_right'}}) }}
            {{ form_widget(new_client_form.country) }}
        </div>

        <button type="submit" class="fake_btn">Ajouter</button>

        {{ form_end(new_client_form) }}
    </div>
{% endblock %}
